@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #f2f2f2;
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.quiz-container {
  background-color: #fff;
  width: 35rem;
  max-width: 100%;
  border-radius: 10px;
  box-shadow: 0 0 10px 5px rgba(100, 100, 100, 0.1);
  overflow: hidden;
}

.quiz-header {
  padding: 2rem;
  /* display: flex;
  flex-direction: column;
  align-items: center; */
}

h2 {
  margin: 0;
  text-align: center;
  padding: 1rem;
}

ul li {
  font-size: 1.1rem;
  margin: 1rem 0;
}

ul li label {
  cursor: pointer;
}

ul {
  list-style-type: none;
  padding: 0;
}

button {
  background-color: rgb(63, 13, 18);
  border: none;
  color: #fff;
  font-family: inherit;
  display: block;
  font-size: 1.3rem;
  width: 100%;
  padding: 1.8rem;
  cursor: pointer;
  transition: background 0.2s;
}

button:hover {
  background-color: rgb(93, 20, 27);
}
